{% extends 'base.html.twig' %}

{% block title %} Vue utilisateur {% endblock %}

{% block body %}
<style>
    .button { background-color : cyan}
</style>

<h2> Utilisateur bienvenu </h2>
<hr>

<ul class="button"> 
    <h3> 
        <button class="button"><a href="{{ path('index_bibliotheque') }}">Accueil</a></button>
        <button class="button"><a href="{{ path('apropos_bibliotheque') }}">A propos</a></button>
        <button class="button"><a href="{{ path('livre_bibliotheque') }}">Les livres</a></button>
        <button class="button"><a href="{{ path('location_bibliotheque') }}">Les locations</a></button>
        <button class="button"><a href="{{ path('documentation_bibliotheque') }}">Documentations</a></button>
        <button class="button"><a href="{{ path('contacter_bibliotheque') }}">Nous contacter</a></button>
        <button class="button"><a href="{{ path('connexion_bibliotheque') }}">Connexion</a></button>
        <button class="button"><a href="{{ path('administration_bibliotheque') }}">Administration</a></button> 
    </h3>
</ul>
{% endblock %}
