{% extends 'base.html.twig' %}

{% block title %} Menu Admin {% endblock %}
{% block body %}

<h2> Partie administration de la bibliotheque </h2>
<hr>

<ul> 
    <h3> 
        <button><a href="{{ path('index_bibliotheque') }}">Accueil</a></button>
        <button><a href="{{ path('administrateur_system') }}">Système</a></button>
        <button><a href="{{ path('administrateur_utilisateurs') }}">Utilisateur</a></button>
        <button><a href="{{ path('administrateur_contenu') }}">Contenu</a></button>
        <button><a href="{{ path('administrateur_extenssion') }}">Extenssions</a></button>
        <button><a href="{{ path('administrateur_logout') }}">Logout</a></button>
    </h3>
</ul>
{% include "footer.html.twig" %}
{% endblock %}
