{% extends 'base.html.twig' %}

{% block title %}Hello BibliothequeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>La Bibliothèque Du Futur</h1>

<ul> 
    <h3> 
        <a href="{{ path('index_bibliotheque') }}">Accueil</a>
        <a href="{{ path('apropos_bibliotheque') }}">A propos</a>
        <a href="{{ path('livre_bibliotheque') }}">Les livres</a>
        <a href="{{ path('location_bibliotheque') }}">Les locations</a>
        <a href="{{ path('documentation_bibliotheque') }}">Documentations</a>
        <a href="{{ path('contacter_bibliotheque') }}">Nous contacter</a>
        <a href="{{ path('connexion_bibliotheque') }}">Connexion</a>
        <a href="{{ path('administration_bibliotheque') }}">Administration</a> 
    </h3>
</ul>
    
</div>
{% endblock %}
